export("otuTable<-")
export("sam_data<-")
export("sample_data<-")
export("sampleData<-")
export("speciesAreRows<-")
export("taxTab<-")
export("tre<-")
export(access)
export(build_tax_table)
export(distance)
export(DPCoA)
export(estimate_richness)
export(export_env_file)
export(export_mothur_dist)
export(filter_taxa)
export(filterfun_sample)
export(filterfunSample)
export(gapstat_ord)
export(genefilterSample)
export(get_taxa_unique)
export(get_variable)
export(getSamples)
export(getslots.phyloseq)
export(getSpecies)
export(getTaxa)
export(getVariable)
export(import_biom)
export(import_env_file)
export(import_mothur_dist)
export(import_mothur)
export(import_pyrotagger_tab)
export(import_qiime_otu_tax)
export(import_qiime_sample_data)
export(import_qiime_sampleData)
export(import_qiime)
export(import_RDP_cluster)
export(import_RDP_otu)
export(import_usearch_uc)
export(import)
export(make_network)
export(merge_phyloseq)
export(merge_species)
export(microbio_me_qiime)
export(nodeplotblank)
export(nodeplotboot)
export(nodeplotdefault)
export(nspecies)
export(ordinate)
export(otuTable)
export(parse_taxonomy_default)
export(parse_taxonomy_greengenes)
export(parse_taxonomy_qiime)
export(phyloseq_to_deseq2)
export(phyloseq)
export(plot_bar)
export(plot_clusgap)
export(plot_heatmap)
export(plot_net)
export(plot_network)
export(plot_ordination)
export(plot_richness_estimates)
export(plot_richness)
export(plot_scree)
export(plot_taxa_bar)
export(plot_tree)
export(prune_species)
export(psmelt)
export(rank_names)
export(rank.names)
export(rarefy_even_depth)
export(read_tree_greengenes)
export(read_tree)
export(rm_outlierf)
export(sam_data)
export(samData)
export(sample_sums)
export(sample_variables)
export(sample.names)
export(sample.variables)
export(sampleData)
export(sampleNames)
export(sampleSums)
export(show_mothur_cutoffs)
export(show_mothur_list_cutoffs)
export(species.names)
export(speciesarerows)
export(speciesAreRows)
export(speciesSums)
export(subset_ord_plot)
export(subset_samples)
export(subset_species)
export(subset_taxa)
export(tax_glom)
export(taxa_sums)
export(taxaplot)
export(taxglom)
export(taxtab)
export(taxTab)
export(threshrank)
export(threshrankfun)
export(tip_glom)
export(tipglom)
export(topf)
export(topk)
export(topp)
export(transform_sample_counts)
export(transformSampleCounts)
export(tre)
export(tree_layout)
exportClasses(dist)
exportClasses(otu_table)
exportClasses(phylo)
exportClasses(phyloseq)
exportClasses(sample_data)
exportClasses(taxonomyTable)
exportMethods("[")
exportMethods("otu_table<-")
exportMethods("phy_tree<-")
exportMethods("sample_names<-")
exportMethods("tax_table<-")
exportMethods("taxa_are_rows<-")
exportMethods("taxa_names<-")
exportMethods(genefilter_sample)
exportMethods(get_sample)
exportMethods(get_taxa)
exportMethods(merge_phyloseq_pair)
exportMethods(merge_samples)
exportMethods(merge_taxa)
exportMethods(mt)
exportMethods(nsamples)
exportMethods(ntaxa)
exportMethods(otu_table)
exportMethods(phy_tree)
exportMethods(plot_phyloseq)
exportMethods(prune_samples)
exportMethods(prune_taxa)
exportMethods(refseq)
exportMethods(sample_data)
exportMethods(sample_names)
exportMethods(show)
exportMethods(t)
exportMethods(tax_table)
exportMethods(taxa_are_rows)
exportMethods(taxa_names)
exportMethods(UniFrac)
import(foreach)
import(ggplot2)
import(methods)
import(reshape2)
import(scales)
importClassesFrom(BiocGenerics,dist)
importClassesFrom(Biostrings,AAStringSet)
importClassesFrom(Biostrings,BStringSet)
importClassesFrom(Biostrings,DNAStringSet)
importClassesFrom(Biostrings,IlluminaQuality)
importClassesFrom(Biostrings,PhredQuality)
importClassesFrom(Biostrings,QualityScaledAAStringSet)
importClassesFrom(Biostrings,QualityScaledBStringSet)
importClassesFrom(Biostrings,QualityScaledDNAStringSet)
importClassesFrom(Biostrings,QualityScaledRNAStringSet)
importClassesFrom(Biostrings,QualityScaledXStringSet)
importClassesFrom(Biostrings,RNAStringSet)
importClassesFrom(Biostrings,SolexaQuality)
importClassesFrom(Biostrings,XStringQuality)
importClassesFrom(Biostrings,XStringSet)
importFrom(ade4,cailliez)
importFrom(ade4,dpcoa)
importFrom(ade4,is.euclid)
importFrom(ape,consensus)
importFrom(ape,cophenetic.phylo)
importFrom(ape,drop.tip)
importFrom(ape,is.rooted)
importFrom(ape,ladderize)
importFrom(ape,pcoa)
importFrom(ape,prop.part)
importFrom(ape,read.nexus)
importFrom(ape,read.tree)
importFrom(ape,reorder.phylo)
importFrom(ape,root)
importFrom(ape,write.nexus)
importFrom(biom,biom_data)
importFrom(biom,observation_metadata)
importFrom(biom,read_biom)
importFrom(biom,sample_metadata)
importFrom(Biostrings,readDNAStringSet)
importFrom(cluster,agnes)
importFrom(cluster,clusGap)
importFrom(cluster,pam)
importFrom(data.table,data.table)
importFrom(data.table,fread)
importFrom(data.table,setkey)
importFrom(data.table,setkeyv)
importFrom(data.table,setnames)
importFrom(DESeq2,DESeqDataSetFromMatrix)
importFrom(igraph,degree)
importFrom(igraph,delete.vertices)
importFrom(igraph,get.edgelist)
importFrom(igraph,get.vertex.attribute)
importFrom(igraph,graph.adjacency)
importFrom(igraph,graph.data.frame)
importFrom(igraph,layout.auto)
importFrom(igraph,layout.circle)
importFrom(igraph,layout.fruchterman.reingold.grid)
importFrom(igraph,layout.fruchterman.reingold)
importFrom(igraph,layout.graphopt)
importFrom(igraph,layout.kamada.kawai)
importFrom(igraph,layout.lgl)
importFrom(igraph,layout.random)
importFrom(igraph,layout.reingold.tilford)
importFrom(igraph,layout.sphere)
importFrom(igraph,layout.spring)
importFrom(igraph,layout.svd)
importFrom(igraph,V)
importFrom(igraph,vcount)
importFrom(multtest,mt.maxT)
importFrom(multtest,mt.minP)
importFrom(plyr,ddply)
importFrom(plyr,is.discrete)
importFrom(plyr,ldply)
importFrom(plyr,llply)
importFrom(stats,p.adjust.methods)
importFrom(stats,p.adjust)
importFrom(vegan,betadiver)
importFrom(vegan,capscale)
importFrom(vegan,cca)
importFrom(vegan,decorana)
importFrom(vegan,decostand)
importFrom(vegan,designdist)
importFrom(vegan,diversity)
importFrom(vegan,estimateR)
importFrom(vegan,fisher.alpha)
importFrom(vegan,metaMDS)
importFrom(vegan,rda)
importFrom(vegan,scores)
importFrom(vegan,vegdist)
importFrom(vegan,wascores)
importFrom(vegan,wisconsin)
