export("sample.names<-")
export("sampleMap<-")
export("species.names<-")
export("taxTab<-")
export(access)
export(calcplot)
export(edgelist2clique)
export(envHash2otuTable)
export(get.component.classes)
export(getslots.phyloseq)
export(intersect_species)
export(merge_phyloseq)
export(otu2df)
export(otusam)
export(otuSam)
export(otusamtax)
export(otuSamTax)
export(otusamtree)
export(otuSamTree)
export(otutax)
export(otuTax)
export(otutree)
export(otuTree)
export(phyloseq)
export(plot_ordination_phyloseq)
export(plot_tree_phyloseq)
export(read_env_file)
export(readQiime_otu_tax)
export(readQiime_sampleMap)
export(readQiime)
export(reconcile_samples)
export(reconcile_species)
export(sampleNames)
export(sampleSums)
export(speciesarerows)
export(speciesAreRows)
export(speciesSums)
export(splat.phyloseq.objects)
export(subset_samples)
export(subset_species)
export(taxtab)
export(threshrank)
export(threshrankfun)
export(tipsymbols)
export(tiptext)
export(transformsamplecounts)
export(wUniFracPair)
exportClasses(otuSam)
exportClasses(otuSamTax)
exportClasses(otuSamTaxTree)
exportClasses(otuSamTree)
exportClasses(otuTable)
exportClasses(otuTax)
exportClasses(otuTree)
exportClasses(phyloseqFather)
exportClasses(sampleMap)
exportClasses(taxonomyTable)
exportMethods("[")
exportMethods("otuTable<-")
exportMethods("speciesarerows<-")
exportMethods("tre<-")
exportMethods(cca.phyloseq)
exportMethods(genefilterSample)
exportMethods(getSamples)
exportMethods(getSpecies)
exportMethods(makenetwork)
exportMethods(merge_phyloseq_pair)
exportMethods(mergespecies)
exportMethods(mt)
exportMethods(nsamples)
exportMethods(nspecies)
exportMethods(otuTable)
exportMethods(plot)
exportMethods(prune_samples)
exportMethods(prune_species)
exportMethods(rda.phyloseq)
exportMethods(sample.names)
exportMethods(sampleMap)
exportMethods(species.names)
exportMethods(taxaplot)
exportMethods(taxglom)
exportMethods(taxTab)
exportMethods(tipglom)
exportMethods(tre)
exportMethods(UniFrac)
exportMethods(wUniFrac)
import(igraph)
import(multtest)
import(phylobase)
import(vegan)
